# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Virtual environment
venv/
.env
*.env
*.venv

# Django stuff
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# VS Code settings
.vscode/
*.code-workspace

# Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates

# Python package files
pip-log.txt
pip-delete-this-directory.txt

# Testing
.tox/
.coverage
htmlcov/

# Migrations (optional)
**/migrations/*.pyc
**/migrations/*.pyo

# MacOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini
